{% extends 'master.html' %}
{% import 'macros.html' as macros %}

{% block embed %}
  <div class="jumbotron text-center" style="background-color: inherit;">
    <h1>
      <a href="/" style="color: #333;">
        iEv
      </a>
    </h1>
    <p style="margin-top: 15px;">
      简单的设备管理工具
      <br>
      <br>
      加速工作
      <br>
      <br><br><br>
    </p>

    <!-- <a href="#" class="btn btn-lg btn-success" target="_blank" style="margin-bottom: 20px;">
      更多信息
      <p style="font-size: 14px; margin-bottom: 5px;">点击查看</p>
    </a> -->

    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">设备维护重要指导</h3>
          </div>
          <div class="panel-body">
            <p>点击查看</p>
            <p><a target="_blank" href="">Read more</a></p>
          </div>
        </div>
      </div>
    </div>

  </div>

{% endblock %}

{% block scripts %}

  <script type="text/javascript">
    var $input = $('#markup-input').counter('#markup-counter', 3, 300);

    if ($input.val().length > 0) {
      $input.focusEnd();
    }
  </script>

{% endblock %}
